<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MediMate Medical Recommendation System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<!-- Navbar -->
<nav class="navbar custom-navbar">
    <div class="navbar-logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-image">
        <span class="navbar-title">Medimate - Medical Recommendation System</span>
    </div>
    <ul class="navbar-menu">
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        <li><a href="{{ url_for('review') }}">Reviews</a></li>
    </ul>
    <div class="navbar-search">
        <input type="search" placeholder="Search...">
        <button>Search</button>
    </div>
</nav>

<!-- Typing Effect Section -->
<div class="typing-effect-container">
    <h2 class="typing-effect"></h2>
</div>

<!-- Slider Section -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='images/slider1.png') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/slider2.png') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/slider4.png') }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <a href="#symptomsForm">
                <img src="{{ url_for('static', filename='images/slider3.png') }}" class="d-block w-100" alt="...">
            </a>
        </div>
    </div>
</div>


<!-- Symptoms Form Section -->
<section class="symptoms-form">
    <div class="image-space">
        <img src="{{ url_for('static', filename='images/doctor.png') }}" alt="Doctor" class="doctor-image">
    </div>
    <div class="form-container" id="symptomsForm">
        <h2>Report Your Symptoms</h2>
        <form id="recommendationForm" method="post" action="/predict">
            <label for="symptoms">Enter your Symptoms:</label>
            <input type="text" id="symptoms" name="symptoms"
                   placeholder="use symptoms like itching, vomiting, cough, skin rash etc..." required>
            <div class="button-container">
                <button type="submit" id="getrecommendationButton">Get Recommendation</button>
                <button type="reset" id="resetButton" onclick="window.location.href='/reset';">Reset</button>
            </div>
        </form>
        <!-- Alert message -->
        <div class="alert alert-info alert-dismissible fade show mt-5 form-alert" role="alert">
            <strong>Tip: </strong> For the best results, try entering at least two symptoms.
            The model’s accuracy improves with more details, so entering more symptoms can help provide better
            recommendations.
            If you don’t get a match with two symptoms, try adding more.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</section>


<!--Modal for handling invalid symptoms or no recommendations -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="warningModalLabel">Warning</h5>
            </div>
            <div class="modal-body" style="font-size:20px;,background-color:red;">
                {% if message %}
                {{ message }}
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!---Predictions-->
<!--Results Buttons -->
{% if predicted_disease %}
<h1 class="text-center my-4 mt-4">MediMate Recommendations</h1>

<!-- Disclaimer -->
<div class="alert alert-warning mt-3 disclaimer" role="alert">
    <strong>Disclaimer:</strong> This AI-based medical recommendation system provides general advice based on reported
    symptoms. However,
    its predictions may not always be fully accurate or comprehensive. It should not be used as a substitute for
    professional medical diagnosis.
    Always consult a healthcare professional for personalized medical guidance. In case of emergencies, seek immediate
    medical attention.
</div>

<div class="container">
    <div class="result-container">
        <!-- Row 1 -->
        <div class="button-row">
            <button class="card-button disease-button" data-bs-toggle="modal" data-bs-target="#diseaseModal">
                <img src="{{ url_for('static', filename='images/disease2.png') }}" alt="Disease">
                <span>Disease</span>
            </button>
            <button class="card-button description-button" data-bs-toggle="modal" data-bs-target="#descriptionModal">
                <img src="{{ url_for('static', filename='images/description.png') }}" alt="Description">
                <span>Description</span>
            </button>
            <button class="card-button precaution-button" data-bs-toggle="modal" data-bs-target="#precautionModal">
                <img src="{{ url_for('static', filename='images/precautions.png') }}" alt="Precaution">
                <span>Precaution</span>
            </button>
        </div>

        <!-- Row 2 -->
        <div class="button-row">
            <button class="card-button medications-button" data-bs-toggle="modal" data-bs-target="#medicationsModal">
                <img src="{{ url_for('static', filename='images/medication.png') }}" alt="Medications">
                <span>Medications</span>
            </button>
            <button class="card-button health-button" data-bs-toggle="modal" data-bs-target="#healthModal">
                <img src="{{ url_for('static', filename='images/health advice.png') }}" alt="Health Advice">
                <span>Heath Advice</span>
            </button>
            <button class="card-button diets-button" data-bs-toggle="modal" data-bs-target="#dietsModal">
                <img src="{{ url_for('static', filename='images/diets.png') }}" alt="Diets">
                <span>Diets</span>
            </button>
        </div>
    </div>
</div>

{% endif %}

<!-- Disease Modal -->
<div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="diseaseModalLabel">Predicted Disease</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: #modal-body-color;">
                <p id="diseaseMessage">{{ predicted_disease if predicted_disease else "No disease predicted yet...."
                    }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Description Modal -->
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ dis_des if dis_des else "No description available....." }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Precaution Modal -->
<div class="modal fade" id="precautionModal" tabindex="-1" aria-labelledby="precautionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="precautionModalLabel">Precautions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% if dis_pre %}
                    {% for precaution in dis_pre %}
                    {% for item in precaution %}
                    <li>{{ item }}</li>
                    {% endfor %}
                    {% endfor %}
                    {% else %}
                    <p>No precautions available....</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Medications Modal -->
<div class="modal fade" id="medicationsModal" tabindex="-1" aria-labelledby="medicationsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="medicationsModalLabel">Medications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% if dis_med %}
                    {% for medication in dis_med %}
                    <li>{{ medication }}</li>
                    {% endfor %}
                    {% else %}
                    <li>No medications available....</li>
                    {% endif %}
                </ul>

                <!--Disclaimer For Medications -->
                <div class="alert alert-warning mt-3" role="alert">
                    <strong>Note:</strong> Please take these medications for the prescribed duration
                    (approximately 3 - 5 days). If you do not experience any relief, kindly consult your nearest doctor
                    or
                    hospital for further evaluation and advice.
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Health Advice Modal -->
<div class="modal fade" id="healthModal" tabindex="-1" aria-labelledby="healthModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="healthModalLabel">Health Advice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% if dis_health|length > 0 %}
                    {% for advice in dis_health %}
                    <li>{{ advice }}</li>
                    {% endfor %}
                    {% else %}
                    <p>No health advice available....</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Diets Modal -->
<div class="modal fade" id="dietsModal" tabindex="-1" aria-labelledby="dietsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #020606; color:white;">
                <h5 class="modal-title" id="dietsModalLabel">Diets</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% if dis_diet %}
                    {% for diet in dis_diet %}
                    <li>{{ diet }}</li>
                    {% endfor %}
                    {% else %}
                    <p>No diet recommendations available....</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Loading Spinner -->
<div id="loadingSpinner" class="spinner" style="display: none;">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p id="loadingMessage">Getting recommendations based on your symptoms...</p>
</div>

<!-- Footer -->
<footer>
    <div class="footer-top">
        <div class="footer-logo-menu">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="footer-logo">
            <div class="footer-menu">
                <a href="{{url_for('home')}}">Home</a>
                <span>|</span>
                <a href="{{url_for('about')}}">About Us</a>
                <span>|</span>
                <a href="{{url_for('contact')}}">Contact Us</a>
                <span>|</span>
                <a href="{{url_for('review')}}">Reviews</a>
            </div>
        </div>
        <div class="footer-contact">
            <p>
                <img src="{{ url_for('static', filename='images/call.png') }}" alt="Phone" class="footer-icon">
                Call Us: <a href="tel:011-1234-5678">011-1234-5678</a>
            </p>
            <p>
                <img src="{{ url_for('static', filename='images/email.png') }}" alt="Email" class="footer-icon">
                Email Us: <a href="info@medimate.com">info@medimate.com</a>
            </p>
        </div>
        <div class="footer-description">
            <p>AI-based Medical Recommendation System analyzing <strong>
                132 symptoms </strong> for <strong> 41 diseases</strong>. Providing personalized health insights and
                recommendations.</p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2025 Medimate. All rights reserved.
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    // Typing effect functionality
    const textArray = ["Welcome to Medimate!", "Your Health, Our Priority!", "Discover Personalized Recommendations!"];
    let textIndex = 0;
    let charIndex = 0;
    const typingEffectElement = document.querySelector('.typing-effect');

    function typeText() {
      if (charIndex < textArray[textIndex].length) {
        typingEffectElement.textContent += textArray[textIndex].charAt(charIndex);
        charIndex++;
        setTimeout(typeText, 100);
      } else {
        setTimeout(deleteText, 1000);
      }
    }

    function deleteText() {
      if (charIndex > 0) {
        typingEffectElement.textContent = textArray[textIndex].substring(0, charIndex - 1);
        charIndex--;
        setTimeout(deleteText, 100);
      } else {
        textIndex = (textIndex + 1) % textArray.length;
        setTimeout(typeText, 300);
      }
    }

    // Start the typing effect
    typeText();

     document.getElementById("recommendationForm").onsubmit = function(event) {
        event.preventDefault(); // Prevent default form submission

        // Show spinner and message
        document.getElementById("loadingSpinner").style.display = "flex"; // Show spinner
        document.getElementById("loadingMessage").style.display = "block"; // Show message

        // Optional: Allow some time to see the spinner before the form submits
        setTimeout(() => {
            this.submit(); // Submit the form
        }, 2000); // Adjust the timeout as needed
    };
    $(document).ready(function() {
            {% if message %}
                $('#warningModal').modal('show');
            {% endif %}
        });
</script>
</body>

</html>